In [1]:
import datetime
import pandas as pd

In [3]:
 
todays_date = datetime.datetime.now().date()
index = pd.date_range(todays_date, periods=5, freq='D')
df = pd.DataFrame(index=index)
df

Empty DataFrame
Columns: []
Index: [2020-08-22 00:00:00, 2020-08-23 00:00:00, 2020-08-24 00:00:00, 2020-08-25 00:00:00, 2020-08-26 00:00:00]

In [27]:
columns = ['A']
df = pd.DataFrame(index=index, columns=columns)
df = df.fillna(0)
df

            A
2019-10-26  0

In [28]:
# add row 
adate = pd.to_datetime("2014-05-01 18:50:05", format="%Y-%m-%d %H:%M:%S")
new_row = pd.DataFrame([[24]], columns=['A'], index=[adate])
df = pd.concat([df, pd.DataFrame(new_row)], ignore_index=False)
df

                      A
2019-10-26 00:00:00   0
2014-05-01 18:50:05  24

In [29]:
df.sort_index()

                      A
2014-05-01 18:50:05  24
2019-10-26 00:00:00   0

In [4]:
import pandas as pd
 
df = pd.DataFrame(columns=['Name', 'Age'])
 
df.loc['2014-05-01 18:47:05', 'Name'] = 'Rocky'
df.loc['2014-05-01 18:47:05', 'Age'] = 21
 
df.loc['2014-05-02 18:47:05', 'Name'] = 'Sunny'
df.loc['2014-05-02 18:47:05', 'Age'] = 22
 
df.loc['2014-05-03 18:47:05', 'Name'] = 'Mark'
df.loc['2014-05-03 18:47:05', 'Age'] = 25
 
# add row 
line = pd.to_datetime("2014-05-01 18:50:05", format="%Y-%m-%d %H:%M:%S")
new_row = pd.DataFrame([['Bunny', 26]], columns=['Name', 'Age'], index=[line])

                      Name Age
2014-05-01 18:47:05  Rocky  21
2014-05-02 18:47:05  Sunny  22
2014-05-03 18:47:05   Mark  25
2014-05-01 18:50:05  Bunny  26

In [2]:
vars()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  "import datetime\nimport pandas as pd\n \ntodays_date = datetime.datetime.now().date()\nindex = pd.date_range(todays_date, periods=1, freq='D')\n \n#columns = ['A', 'B', 'C']\n \ndf = pd.DataFrame(index=index)\n#df = pd.DataFrame(index=index, columns=columns)\n#df = df.fillna(0)\ndf",
  'vars()'],
 '_oh': {1: Empty DataFrame
  Columns: []
  Index: [2019-10-26 00:00:00]},
 '_dh': ['/code/jupyter/code/dataframes'],
 'In': ['',
  "import datetime\nimport pandas as pd\n \ntodays_date = datetime.datetime.now().date()\nindex = pd.date_range(todays_date, periods=1, freq='D')\n \n#columns = ['A', 'B', 'C']\n \ndf = pd.DataFrame(index=index)\n#df = pd.DataFrame(index=index, columns=columns)\n#df = df.fillna(0)\ndf",
  'vars()'],
 'Out': {1: Empty DataFrame
  Columns: []
  Index: [2019-10-26 00:00:00]},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x10e99f5f8>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x10ea256d8>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x10ea256d8>,
 '_': Empty DataFrame
 Columns: []
 Index: [2019-10-26 00:00:00],
 '__': '',
 '___': '',
 '_i': "import datetime\nimport pandas as pd\n \ntodays_date = datetime.datetime.now().date()\nindex = pd.date_range(todays_date, periods=1, freq='D')\n \n#columns = ['A', 'B', 'C']\n \ndf = pd.DataFrame(index=index)\n#df = pd.DataFrame(index=index, columns=columns)\n#df = df.fillna(0)\ndf",
 '_ii': '',
 '_iii': '',
 '_i1': "import datetime\nimport pandas as pd\n \ntodays_date = datetime.datetime.now().date()\nindex = pd.date_range(todays_date, periods=1, freq='D')\n \n#columns = ['A', 'B', 'C']\n \ndf = pd.DataFrame(index=index)\n#df = pd.DataFrame(index=index, columns=columns)\n#df = df.fillna(0)\ndf",
 'datetime': <module 'datetime' from '/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/datetime.py'>,
 'pd': <module 'pandas' from '/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/__init__.py'>,
 'todays_date': datetime.date(2019, 10, 26),
 'index': DatetimeIndex(['2019-10-26'], dtype='datetime64[ns]', freq='D'),
 'df': Empty DataFrame
 Columns: []
 Index: [2019-10-26 00:00:00],
 '_1': Empty DataFrame
 Columns: []
 Index: [2019-10-26 00:00:00],
 '_i2': 'vars()'}