In [17]:
import yfinance as yf
data = yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "SPY QQQ",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "1d",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1d",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None

)
data

[*********************100%***********************]  2 of 2 downloaded

               QQQ                                      SPY                  \
              Open    High     Low   Close    Volume   Open    High     Low
Date
2020-01-31  223.53  223.56  218.29  219.07  51969200  327.0  327.17  320.73
2020-01-31  223.50  223.55  218.29  219.07  46092808  327.0  327.17  320.74


             Close     Volume
Date
2020-01-31  321.73  113688600
2020-01-31  321.73   98558214

In [4]:
data['SPY']

              Open    High     Low   Close    Volume
Date
2020-01-02  323.54  324.89  322.53  324.87  59151200
2020-01-07  323.02  323.54  322.24  322.73  40496400
2020-01-17  331.70  332.18  330.85  331.95  95846000
2020-01-22  332.24  332.95  331.17  331.34  48914900
2020-01-27  323.03  325.12  322.66  323.50  84062500
2020-01-31  327.00  327.17  320.74  321.73  98558214