In [5]:
import pymongo
from pymongo import MongoClient
client = MongoClient()
#client = MongoClient('localhost', 27017)
#client = MongoClient('mongodb://localhost:27017/')
client.list_databases()

In [15]:
#db = client.test_database
db = client['test_database']
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database')

In [16]:
db.list_collection_names()

['posts', 'testCollection']

In [17]:
collection = db.test_collection
#collection = db['test_collection']
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database'), 'test_collection')

In [19]:
import datetime
post = {"author": "Mike",
         "text": "My first blog post!",
         "tags": ["mongodb", "python", "pymongo"],
         "date": datetime.datetime.utcnow()}

post_id = db['test_collection'].insert_one(post).inserted_id
post_id

ObjectId('5ddaf676b71a3f348a15bebc')

In [20]:
import pprint
pprint.pprint(collection.find_one())

{'_id': ObjectId('5ddaf676b71a3f348a15bebc'),
 'author': 'Mike',
 'date': datetime.datetime(2019, 11, 24, 21, 30, 30, 702000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

In [21]:
pprint.pprint(posts.find_one({"author": "Mike"}))

{'_id': ObjectId('5dbf3b291d2f7e5629b0befa'),
 'author': 'Mike',
 'date': datetime.datetime(2019, 11, 3, 20, 40, 9, 126000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

In [24]:
from bson.objectid import ObjectId
print(ObjectId(post_id))

# The web framework gets post_id from the URL and passes it as a string
def get(post_id):
    document = db['test_collection'].find_one({'_id': ObjectId(post_id)})
    return document
document = get(post_id)
document

5ddaf676b71a3f348a15bebc

{'_id': ObjectId('5ddaf676b71a3f348a15bebc'),
 'author': 'Mike',
 'text': 'My first blog post!',
 'tags': ['mongodb', 'python', 'pymongo'],
 'date': datetime.datetime(2019, 11, 24, 21, 30, 30, 702000)}

In [25]:
pprint.pprint(posts.find_one())

{'_id': ObjectId('5dbf3b291d2f7e5629b0befa'),
 'author': 'Mike',
 'date': datetime.datetime(2019, 11, 3, 20, 40, 9, 126000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

### Insert many

In [47]:
new_posts = [{"author": "Mike",
...               "text": "Another post!",
              "cost": 2,
...               "tags": ["bulk", "insert"],
...               "date": datetime.datetime(2009, 11, 12, 11, 14)},
...              {"author": "Eliot",
...               "title": "MongoDB is fun",
                  'price': 10.02,
...               "text": "and pretty easy too!",
...               "date": datetime.datetime(2009, 11, 10, 10, 45)}]
>>> result = db['test_collection'].insert_many(new_posts)
>>> result.inserted_ids

[ObjectId('5ddaf994b71a3f348a15bec5'), ObjectId('5ddaf994b71a3f348a15bec6')]

In [48]:
>>> for post in db['test_collection'].find():
...   pprint.pprint(post)

{'_id': ObjectId('5ddaf676b71a3f348a15bebc'),
 'author': 'Mike',
 'date': datetime.datetime(2019, 11, 24, 21, 30, 30, 702000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('5ddaf756b71a3f348a15bebd'),
 'author': 'Mike',
 'date': datetime.datetime(2009, 11, 12, 11, 14),
 'tags': ['bulk', 'insert'],
 'text': 'Another post!'}
{'_id': ObjectId('5ddaf756b71a3f348a15bebe'),
 'author': 'Eliot',
 'date': datetime.datetime(2009, 11, 10, 10, 45),
 'text': 'and pretty easy too!',
 'title': 'MongoDB is fun'}
{'_id': ObjectId('5ddaf821b71a3f348a15bebf'),
 'author': 'Mike',
 'cost': 2,
 'date': datetime.datetime(2009, 11, 12, 11, 14),
 'tags': ['bulk', 'insert'],
 'text': 'Another post!'}
{'_id': ObjectId('5ddaf821b71a3f348a15bec0'),
 'author': 'Eliot',
 'date': datetime.datetime(2009, 11, 10, 10, 45),
 'text': 'and pretty easy too!',
 'title': 'MongoDB is fun'}
{'_id': ObjectId('5ddaf850b71a3f348a15bec1'),
 'author': 'Mike',
 'cost': 2,
 'date': datetime.datetime(2009, 11, 12, 11, 14),
 'tags': ['bulk', 'insert'],
 'text': 'Another post!'}
{'_id': ObjectId('5ddaf850b71a3f348a15bec2'),
 'author': 'Eliot',
 'date': datetime.datetime(2009, 11, 10, 10, 45),
 'text': 'and pretty easy too!',
 'title': 'MongoDB is fun'}
{'_id': ObjectId('5ddaf8e6b71a3f348a15bec3'),
 'author': 'Dave',
 'cost': 2,
 'date': datetime.datetime(2009, 11, 12, 11, 14),
 'tags': ['bulk', 'insert'],
 'text': 'Another post!'}
{'_id': ObjectId('5ddaf8e6b71a3f348a15bec4'),
 'author': 'Bill',
 'date': datetime.datetime(2009, 11, 10, 10, 45),
 'price': 111.0,
 'text': 'and pretty easy too!',
 'title': 'MongoDB is fun'}
{'_id': ObjectId('5ddaf994b71a3f348a15bec5'),
 'author': 'Mike',
 'cost': 2,
 'date': datetime.datetime(2009, 11, 12, 11, 14),
 'tags': ['bulk', 'insert'],
 'text': 'Another post!'}
{'_id': ObjectId('5ddaf994b71a3f348a15bec6'),
 'author': 'Eliot',
 'date': datetime.datetime(2009, 11, 10, 10, 45),
 'price': 10.02,
 'text': 'and pretty easy too!',
 'title': 'MongoDB is fun'}

In [44]:
db['test_collection'].count_documents({})

9

In [46]:
db['test_collection'].count_documents({"author": "Bill"})

1

In [39]:
new_posts = [{"author": "Dave",
...               "text": "Another post!",
                  "cost": 2,
...               "tags": ["bulk", "insert"],
...               "date": datetime.datetime(2009, 11, 12, 11, 14)},
...              {"author": "Bill",
...               "title": "MongoDB is fun",
                  "price": 111.0,
...               "text": "and pretty easy too!",
...               "date": datetime.datetime(2009, 11, 10, 10, 45)}]
>>> result = db['test_collection'].insert_many(new_posts)
>>> result.inserted_ids

[ObjectId('5ddaf8e6b71a3f348a15bec3'), ObjectId('5ddaf8e6b71a3f348a15bec4')]

In [30]:
>>> d = datetime.datetime(2009, 11, 12, 12)
>>> for post in posts.find({"date": {"$lt": d}}).sort("author"):
...   pprint.pprint(post)

{'_id': ObjectId('5dbf41961d2f7e5629b0befc'),
 'author': 'Eliot',
 'date': datetime.datetime(2009, 11, 10, 10, 45),
 'text': 'and pretty easy too!',
 'title': 'MongoDB is fun'}
{'_id': ObjectId('5dc4d11b1d2f7e5629b0beff'),
 'author': 'Eliot',
 'date': datetime.datetime(2009, 11, 10, 10, 45),
 'text': 'and pretty easy too!',
 'title': 'MongoDB is fun'}
{'_id': ObjectId('5dbf41961d2f7e5629b0befb'),
 'author': 'Mike',
 'date': datetime.datetime(2009, 11, 12, 11, 14),
 'tags': ['bulk', 'insert'],
 'text': 'Another post!'}
{'_id': ObjectId('5dc4d11b1d2f7e5629b0befe'),
 'author': 'Mike',
 'date': datetime.datetime(2009, 11, 12, 11, 14),
 'tags': ['bulk', 'insert'],
 'text': 'Another post!'}

In [49]:
db['test_collection'].aggregate([
   { $match: { author: "Mike" } },
   { $group: { _id: "$cust_id", total: { $sum: "$amount" } } }
])

SyntaxError: invalid syntax (<ipython-input-49-ea8b0cc92653>, line 2)