In [35]:
import yfinance as yf
ticker = 'MIC'
stock_data = yf.Ticker(ticker)
stock_data.options

('2020-02-20', '2020-03-19', '2020-04-16', '2020-07-16', '2021-01-14')

In [37]:

# get option chain for specific expiration
opt_date = stock_data.options[0]
print(opt_date)
option_data = stock_data.option_chain(opt_date)
# data available via: opt.calls, opt.puts
print(option_data[0].iloc[0:2])

2020-02-20
       contractSymbol  lastTradeDate  strike  lastPrice   bid   ask  change  \
0  MIC200221C00032500     1580242346    32.5       12.3  11.3  14.2     0.0
1  MIC200221C00040000     1579717328    40.0        5.3   3.6   5.1     0.0

   percentChange  volume  openInterest  impliedVolatility  inTheMoney  \
0            0.0      10           NaN           1.388675        True
1            0.0      20          12.0           0.645511        True

  contractSize currency
0      REGULAR      USD
1      REGULAR      USD

In [42]:
df =option_data.calls
df1 = df[df.loc[:,'volume'] > 1][['strike', 'volume', 'openInterest','ask',  'bid', 'percentChange',   'lastPrice', 'inTheMoney']]
#lastTradeDate	strike	lastPrice	bid	ask	change	percentChange	volume	openInterest	impliedVolatility	inTheMoney	contractSize	currency
df1.sort_values(by=['strike'], ascending=False)

,strike,volume,openInterest,ask,bid,percentChange,lastPrice,inTheMoney
5,50.0,10,12.0,0.2,0.00,0.000000,0.08,False
4,47.5,91,444.0,0.3,0.15,-16.000002,0.21,False
3,45.0,28,870.0,0.9,0.65,-6.024098,0.78,False
2,42.5,9,104.0,2.7,1.75,-6.000004,2.35,True
1,40.0,20,12.0,5.1,3.60,0.000000,5.30,True
0,32.5,10,NaN,14.2,11.30,0.000000,12.30,True

In [39]:
df =option_data.puts
df1 = df[df.loc[:,'volume'] > 10][['strike', 'volume', 'ask',  'bid', 'percentChange',   'lastPrice', 'inTheMoney']]
#lastTradeDate	strike	lastPrice	bid	ask	change	percentChange	volume	openInterest	impliedVolatility	inTheMoney	contractSize	currency
df1.sort_values(by=['strike'], ascending=False)

   strike  volume   ask   bid  percentChange  lastPrice  inTheMoney
3    45.0    30.0  1.85  1.25      15.384619        1.5        True