In [17]:
import pandas_datareader.data as web
from datetime import datetime
import os
os.environ["IEX_API_KEY"] = "pk_9ba866a9c4824ada84d5d51f5042ce41"

In [16]:
symbol = 'F'
df = web.DataReader(symbol, 'iex-last')
df

                    0
price           5.645
size              100
symbol              F
time    1590177597540

In [14]:
df = web.DataReader(symbol, 'iex-tops')
df
#f[:10]

Empty DataFrame
Columns: []
Index: []