In [1]:
from datetime import datetime, timedelta
import pandas as pd
import yfinance as yf

def getOneBDayFromToday():
    now = datetime.now()
    end = '{:%Y-%m-%d}'.format(now)
    start = now - pd.tseries.offsets.BusinessDay(n=1)
    start = '{:%Y-%m-%d}'.format(start)
    return start,end

    


start,end = getNDaysAgo(30)
start,end

('2020-07-24', '2020-07-27')

In [5]:
symbols = ['AAPL','MSFT','SHOP','SQ']
tickers = yf.Tickers(symbols)
start,end = getNDaysAgo(days=30)
df = tickers.history(interval='1d',start=start,end=end)
# df_pc = df.Close.pct_change(periods=1).dropna()#,freq=pd.offsets.BDay())
# df_stock = df_pc.reset_index(drop=True, inplace=False).T.rename(columns = {0:'percent'}, inplace = False)
# df_stock['percent'] = df_stock['percent'].apply(lambda x:round(x*100,2))
# df_stock
df

[*********************100%***********************]  4 of 4 completed

                Close                                     Dividends            \
                 AAPL        MSFT        SHOP          SQ      AAPL MSFT SHOP
Date
2020-07-24  92.448311  200.814575  929.809998  121.410004         0    0    0

                    High              ...   Open             Stock Splits  \
           SQ       AAPL        MSFT  ...   SHOP          SQ         AAPL
Date                                  ...
2020-07-24  0  92.802675  202.370811  ...  906.0  119.889999            0

                            Volume
           MSFT SHOP SQ       AAPL      MSFT     SHOP       SQ
Date
2020-07-24    0    0  0  185438800  39827000  2418800  8060000

[1 rows x 28 columns]

In [15]:
def getNDaysAgo(days):
    now = datetime.now()
    start = now - pd.tseries.offsets.BusinessDay(n=(days+1))
    end = now - pd.tseries.offsets.BusinessDay(n=days)
    start = '{:%Y-%m-%d}'.format(start)
    end = '{:%Y-%m-%d}'.format(end)
    return start,end

def getPricesForNDaysAgo(names,days):
    tickers = yf.Tickers(names)
    start, end = getNDaysAgo(days)
    print(start,end)
    return tickers.history(interval='1d', start=start, end=end)

getPricesForNDaysAgo(symbols,days=3).Close

2020-09-01 2020-09-02
[*********************100%***********************]  4 of 4 completed

                  AAPL        MSFT         SHOP          SQ
Date
2020-09-01  134.179993  227.270004  1134.319946  166.660004