In [1]:
import os
from iexfinance.stocks import Stock
import iexfinance as iex
import pandas as pd

# Set IEX Finance API Token (Test)
#os.environ['IEX_API_VERSION'] = 'iexcloud-sandbox'
#os.environ['IEX_TOKEN'] = 'pk_9ba866a9c4824ada84d5d51f5042ce41'
os.environ["IEX_API_KEY"] = "pk_9ba866a9c4824ada84d5d51f5042ce41"

In [2]:
def getCompanyInfo(symbols):
    stock_batch = Stock('AAPL',
                        token='pk_9ba866a9c4824ada84d5d51f5042ce41')
    company_info = stock_batch.get_company()
    return company_info

names = ['AAPL','MSFT']
getCompanyInfo(names)

{'symbol': 'AAPL',
 'companyName': 'Apple, Inc.',
 'exchange': 'NASDAQ',
 'industry': 'Telecommunications Equipment',
 'website': 'http://www.apple.com',
 'description': 'Apple, Inc. engages in the design, manufacture, and sale of smartphones, personal computers, tablets, wearables and accessories, and other variety of related services. It operates through the following geographical segments: Americas, Europe, Greater China, Japan, and Rest of Asia Pacific. The Americas segment includes North and South America. The Europe segment consists of European countries, as well as India, the Middle East, and Africa. The Greater China segment comprises of China, Hong Kong, and Taiwan. The Rest of Asia Pacific segment includes Australia and Asian countries. Its products and services include iPhone, Mac, iPad, AirPods, Apple TV, Apple Watch, Beats products, Apple Care, iCloud, digital content stores, streaming, and licensing services. The company was founded by Steven Paul Jobs, Ronald Gerald Wayne, and Stephen G. Wozniak on April 1, 1976 and is headquartered in Cupertino, CA.',
 'CEO': 'Timothy Donald Cook',
 'securityName': 'Apple Inc.',
 'issueType': 'cs',
 'sector': 'Electronic Technology',
 'primarySicCode': 3663,
 'employees': 137000,
 'tags': ['Electronic Technology', 'Telecommunications Equipment'],
 'address': 'One Apple Park Way',
 'address2': None,
 'state': 'CA',
 'city': 'Cupertino',
 'zip': '95014-2083',
 'country': 'US',
 'phone': '1.408.996.1010'}

In [8]:
symbol = 'AAPL'
stock = Stock(symbol, output_format='pandas',token='pk_9ba866a9c4824ada84d5d51f5042ce41')
stock.get_income_statement(period="quarter", last='4')

                               AAPL
                         2020-06-30   2020-03-31   2019-12-31   2019-09-30
reportDate               2020-06-30   2020-03-31   2019-12-31   2019-09-30
fiscalDate               2020-06-27   2020-03-28   2019-12-28   2019-09-28
currency                        USD          USD          USD          USD
totalRevenue            59415000000  58347000000  91722000000  63936000000
costOfRevenue           37367000000  35931000000  56773000000  39771000000
grossProfit             22048000000  22416000000  34949000000  24165000000
researchAndDevelopment   4758000000   4565000000   4451000000   4110000000
sellingGeneralAndAdmin   4831000000   4952000000   5197000000   4578000000
operatingExpense        46956000000  45448000000  66421000000  48459000000
operatingIncome         12459000000  12899000000  25301000000  15477000000
otherIncomeExpenseNet     678000000    236000000    617000000    650000000
ebit                    12459000000  12899000000  25301000000  15477000000
interestIncome            697000000    757000000    785000000    810000000
pretaxIncome            13137000000  13135000000  25918000000  16127000000
incomeTax                1884000000   1886000000   3682000000   2441000000
minorityInterest                  0            0            0            0
netIncome               11253000000  11249000000  22236000000  13686000000
netIncomeBasic          11253000000  11249000000  22236000000  13686000000

In [7]:
tickers = ['MSFT', 'V']

# Create output Dataframe
output_df = pd.DataFrame(columns=['Net Income', 'Book Value'])

# Loop through companies in tickers list
for ticker in tickers:

    # Call IEX Cloud API, and output to Dataframe
    try:
        company = Stock(ticker, output_format='pandas',token='pk_9ba866a9c4824ada84d5d51f5042ce41')

        try:
            # Get income from last 4 quarters, sum it, and store to temp Dataframe
            df_income = company.get_income_statement(period="quarter", last='4')
            df_income['TTM'] = df_income.sum(axis=1)
            income_ttm = int(df_income.loc['netIncome', 'TTM'])

            # Get book value from most recent quarter, and store to temp Dataframe
            df_book = company.get_balance_sheet(period="quarter")
            book_value = int(df_book.loc['shareholderEquity'])

        # If IEX Cloud errors, make stats = 0
        except (iexfinance.utils.exceptions.IEXQueryError, TypeError, KeyError) as e:
            book_value = 0
            income_ttm = 0

        # Store stats to output Dataframe
        output_df.loc[ticker] = [income_ttm, book_value]

    except ValueError:
        pass

print(output_df)

       Net Income    Book Value
MSFT  44281000000  118304000000
V     11331000000   35524000000