In [13]:
%matplotlib inline
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.techindicators import TechIndicators
from alpha_vantage.sectorperformance import SectorPerformances
from alpha_vantage.cryptocurrencies import CryptoCurrencies
import matplotlib
import matplotlib.pyplot as plt
import os
# Make plots bigger
matplotlib.rcParams['figure.figsize'] = (12, 8)

# my key
ts = TimeSeries(key='LJQX8580YS8GDLSL', output_format='pandas')

### Working with batch quotes

In [14]:
# It is still a TimeSeries call
ts.output_format='pandas'
data, meta_data = ts.get_batch_stock_quotes(symbols=('VTI', 'VOO', 'DIA', 'QQQ'))
data.tail(5)

     1. symbol  2. price 3. volume         4. timestamp
date
0          VTI  138.2900    701440  2018-04-19 12:31:30
1          VOO  246.4500   1021260  2018-04-19 12:31:29
2          DIA  246.5450   1437121  2018-04-19 12:26:41
3          QQQ  164.6300  16028257  2018-04-19 12:31:31