In [2]:
from yahooquery import Ticker
import json
def pprint(jsonstr):
    print( json.dumps(jsonstr, indent=4) )
    
yq = Ticker('net')
yq

In [3]:
yq.company_officers

             age  exercisedValue  fiscalYear  maxAge  \
symbol row
net    0    44.0               0      2018.0       1
       1    40.0               0      2018.0       1
       2    56.0               0      2018.0       1
       3    47.0               0      2018.0       1
       4     NaN               0         NaN       1

                                name                       title  totalPay  \
symbol row
net    0         Mr. Matthew  Prince  Co-Founder, Chairman & CEO  400000.0
       1        Ms. Michelle  Zatlyn  Co-Founder, COO & Director  400000.0
       2       Mr. Thomas J. Seifert     Chief Financial Officer  690000.0
       3    Mr. Douglas James Kramer         Gen. Counsel & Sec.  537708.0
       4                 Mr. -  John    Chief Technology Officer       NaN

            unexercisedValue  yearBorn
symbol row
net    0                   0    1975.0
       1                   0    1979.0
       2             6174123    1963.0
       3                   0    1972.0
       4                   0       NaN

In [4]:
yq.earning_history

           epsActual epsDifference epsEstimate  maxAge period     quarter  \
symbol row
net    0          {}            {}          {}       1    -4q          {}
       1          {}            {}          {}       1    -3q          {}
       2       -0.15             0       -0.15       1    -2q  2019-09-30
       3       -0.06          0.01       -0.07       1    -1q  2019-12-31

           surprisePercent
symbol row
net    0                {}
       1                {}
       2                 0
       3             0.143

In [5]:
yq.grading_history

           action epochGradeDate                        firm     fromGrade  \
symbol row
net    0     down     2020-04-13              Morgan Stanley  Equal-Weight
       1     main     2020-03-24              Morgan Stanley
       2     main     2020-02-13                     Needham
       3     init     2020-01-09                       Baird
       4     init     2019-11-03               Piper Jaffray
       5     init     2019-10-07  SunTrust Robinson Humphrey
       6     init     2019-10-07                 Wells Fargo
       7     init     2019-10-07              Morgan Stanley
       8     init     2019-10-07                 RBC Capital
       9     init     2019-10-07                 Oppenheimer
       10    init     2019-10-07              JMP Securities
       11    init     2019-10-07               Goldman Sachs
       12    init     2019-10-07          Evercore ISI Group

                      toGrade
symbol row
net    0          Underweight
       1         Equal-Weight
       2                  Buy
       3           Outperform
       4           Overweight
       5                  Buy
       6           Outperform
       7         Equal-Weight
       8           Outperform
       9           Outperform
       10   Market Outperform
       11             Neutral
       12          Outperform

In [6]:
yq.insider_holders

           latestTransDate  maxAge                                name  \
symbol row
net    0        2020-04-01       1                KRAMER DOUGLAS JAMES
       1        2019-09-17       1                    LEDBETTER CARL S
       2        2019-09-17       1  NEW ENTERPRISE ASSOCIATES 13, L.P.
       3        2019-09-17       1             PELION VENTURES V, L.P.
       4        2019-09-17       1                     SANDELL SCOTT D
       5        2020-04-14       1                    SEIFERT THOMAS J
       6        2020-03-25       1                UV PARTNERS IV, L.P.
       7        2020-03-25       1            VENROCK ASSOCIATES V L P
       8        2020-04-08       1                     ZATLYN MICHELLE

           positionDirectDate  positionIndirect  positionIndirectDate  \
symbol row
net    0           2020-04-01               NaN                   NaN
       1                  NaN         1295790.0          1.568678e+09
       2                  NaN         4059380.0          1.568678e+09
       3                  NaN          252550.0          1.568678e+09
       4                  NaN         4059380.0          1.568678e+09
       5           2020-04-14               NaN                   NaN
       6                  NaN         4447820.0          1.585094e+09
       7                  NaN        41797900.0          1.585094e+09
       8                  NaN               NaN          1.586304e+09

                                                     relation  \
symbol row
net    0                                      General Counsel
       1    Director and Beneficial Owner of more than 10%...
       2    Beneficial Owner of more than 10% of a Class o...
       3    Beneficial Owner of more than 10% of a Class o...
       4    Director and Beneficial Owner of more than 10%...
       5                              Chief Financial Officer
       6    Beneficial Owner of more than 10% of a Class o...
       7    Beneficial Owner of more than 10% of a Class o...
       8                              Chief Operating Officer

                                   transactionDescription url
symbol row
net    0                                             Sale
       1    Conversion of Exercise of derivative security
       2    Conversion of Exercise of derivative security
       3    Conversion of Exercise of derivative security
       4    Conversion of Exercise of derivative security
       5                                             Sale
       6    Conversion of Exercise of derivative security
       7    Conversion of Exercise of derivative security
       8                                             Sale

In [7]:
yq.insider_transactions

                                     filerName  \
symbol row
net    0                      SEIFERT THOMAS J
       1                      SEIFERT THOMAS J
       2                       ZATLYN MICHELLE
       3                       ZATLYN MICHELLE
       4                  KRAMER DOUGLAS JAMES
       5                  KRAMER DOUGLAS JAMES
       6                      SEIFERT THOMAS J
       7                      SEIFERT THOMAS J
       8              VENROCK ASSOCIATES V L P
       9                  UV PARTNERS IV, L.P.
       10                     SEIFERT THOMAS J
       11                     SEIFERT THOMAS J
       12                      ZATLYN MICHELLE
       13                      ZATLYN MICHELLE
       14                 UV PARTNERS IV, L.P.
       15                 UV PARTNERS IV, L.P.
       16                 KRAMER DOUGLAS JAMES
       17                     SEIFERT THOMAS J
       18                     SEIFERT THOMAS J
       19                 KRAMER DOUGLAS JAMES
       20                 KRAMER DOUGLAS JAMES
       21                 KRAMER DOUGLAS JAMES
       22                     LEDBETTER CARL S
       23                     LEDBETTER CARL S
       24             VENROCK ASSOCIATES V L P
       25                      SANDELL SCOTT D
       26   NEW ENTERPRISE ASSOCIATES 13, L.P.
       27              PELION VENTURES V, L.P.
       28                 UV PARTNERS IV, L.P.

                                                filerRelation filerUrl  \
symbol row
net    0                              Chief Financial Officer
       1                              Chief Financial Officer
       2                              Chief Operating Officer
       3                              Chief Operating Officer
       4                                      General Counsel
       5                                      General Counsel
       6                              Chief Financial Officer
       7                              Chief Financial Officer
       8    Beneficial Owner of more than 10% of a Class o...
       9    Beneficial Owner of more than 10% of a Class o...
       10                             Chief Financial Officer
       11                             Chief Financial Officer
       12                             Chief Operating Officer
       13                             Chief Operating Officer
       14   Beneficial Owner of more than 10% of a Class o...
       15   Beneficial Owner of more than 10% of a Class o...
       16                                     General Counsel
       17                             Chief Financial Officer
       18                             Chief Financial Officer
       19                                     General Counsel
       20                                     General Counsel
       21                                     General Counsel
       22   Director and Beneficial Owner of more than 10%...
       23   Director and Beneficial Owner of more than 10%...
       24   Beneficial Owner of more than 10% of a Class o...
       25   Director and Beneficial Owner of more than 10%...
       26   Beneficial Owner of more than 10% of a Class o...
       27   Beneficial Owner of more than 10% of a Class o...
       28   Beneficial Owner of more than 10% of a Class o...

            maxAge moneyText ownership    shares   startDate  \
symbol row
net    0         1                   D     15000  2020-04-14
       1         1                   D     15000  2020-04-14
       2         1                   I    206100  2020-04-08
       3         1                   I    206100  2020-04-08
       4         1                   D     13334  2020-04-01
       5         1                   D     12397  2020-04-01
       6         1                   D     15000  2020-03-31
       7         1                   D     15000  2020-03-31
       8         1                   I  41308180  2020-03-25
       9         1                   I   2999933  2020-03-25
       10        1                   D     15000  2020-03-17
       11        1                   D     15000  2020-03-17
       12        1                   I     84900  2020-03-13
       13        1                   I     84900  2020-03-13
       14        1                   I   2000000  2020-03-05
       15        1                   I   2000000  2020-03-05
       16        1                   D      6250  2020-03-04
       17        1                   D     15000  2020-03-03
       18        1                   D     15000  2020-03-03
       19        1                   D      7084  2020-03-02
       20        1                   D     14168  2020-02-19
       21        1                   D     28439  2020-02-19
       22        1                   I   1295794  2019-09-17
       23        1                   I   2954546  2019-09-17
       24        1                   I    489756  2019-09-17
       25        1                   I   4059376  2019-09-17
       26        1                   I   4059376  2019-09-17
       27        1                   I   1295794  2019-09-17
       28        1                   I   2954546  2019-09-17

                                              transactionText       value
symbol row
net    0               Sale at price 23.16 - 23.76 per share.    348139.0
       1                                                              NaN
       2               Sale at price 22.86 - 24.10 per share.   4796609.0
       3                                                              NaN
       4               Sale at price 23.05 - 24.78 per share.    314089.0
       5                                                              NaN
       6               Sale at price 23.43 - 26.05 per share.    369011.0
       7                                                              NaN
       8                                                              NaN
       9                                                              NaN
       10                      Sale at price 18.00 per share.    270000.0
       11                                                             NaN
       12              Sale at price 18.18 - 21.08 per share.   1625184.0
       13                                                             NaN
       14                      Sale at price 22.80 per share.  45600000.0
       15                                                             NaN
       16                      Sale at price 23.00 per share.    143750.0
       17              Sale at price 21.84 - 22.15 per share.    329604.0
       18   Conversion of Exercise of derivative security ...     30600.0
       19                      Sale at price 20.97 per share.    148537.0
       20                      Sale at price 17.65 per share.    250130.0
       21                                                             NaN
       22                                                             NaN
       23                                                             NaN
       24                                                             NaN
       25                                                             NaN
       26                                                             NaN
       27                                                             NaN
       28                                                             NaN

In [8]:
yq.institution_ownership

            maxAge                       organization  pctHeld  position  \
symbol row
net    0         1                           FMR, LLC   0.2296  21717538
       1         1        Greenspring Associates, LLC   0.0752   7115467
       2         1            Franklin Resources, Inc   0.0627   5925638
       3         1        NEA Management Company, LLC   0.0429   4059376
       4         1         Vanguard Group, Inc. (The)   0.0353   3341189
       5         1         Gilder, Gagnon, Howe & Co.   0.0301   2842938
       6         1            ETF Managers Group, LLC   0.0242   2292491
       7         1      Price (T.Rowe) Associates Inc   0.0196   1857427
       8         1  Norges Bank Investment Management   0.0169   1597219
       9         1              Wells Fargo & Company   0.0140   1320840

            reportDate      value
symbol row
net    0    2019-12-31  370501198
       1    2019-12-31  121389867
       2    2019-12-31  101091384
       3    2019-12-31   69252954
       4    2019-12-31   57000684
       5    2019-12-31   48500522
       6    2019-12-31   39109896
       7    2019-12-31   31687704
       8    2019-12-31   27248556
       9    2019-12-31   22533530

In [9]:
yq.recommendation_trend

            buy  hold period  sell  strongBuy  strongSell
symbol row
net    0      0     0     0m     0          0           0
       1      8     3    -1m     0          2           0
       2      8     3    -2m     0          3           0
       3      0     0    -3m     0          0           0

In [11]:
yq.sec_filings

{'net': 'No fundamentals data found for any of the summaryTypes=secFilings'}

In [13]:
yq.fund_ownership

            maxAge                                       organization  \
symbol row
net    0         1                       Fidelity Growth Company Fund
       1         1     ETF Managers Tr-EFTMG Prime Cyber Security ETF
       2         1                Price (T.Rowe) Small-Cap Value Fund
       3         1  Franklin Strategic Series-Franklin Small Cap G...
       4         1             Vanguard Total Stock Market Index Fund
       5         1                      Vanguard Small-Cap Index Fund
       6         1  Franklin Strategic Series-Franklin Small-Mid C...
       7         1                  Federated Kaufmann Small Cap Fund
       8         1                Fidelity Series Growth Company Fund
       9         1                              Wells Fargo Growth Fd

            pctHeld  position  reportDate     value
symbol row
net    0     0.0274   2587559  2019-12-31  44143756
       1     0.0234   2212474  2020-01-31  39514785
       2     0.0152   1433626  2019-12-31  24457659
       3     0.0123   1160515  2019-10-31  19543072
       4     0.0120   1131294  2019-12-31  19299875
       5     0.0105    992371  2019-12-31  16929849
       6     0.0083    784400  2019-10-31  13209296
       7     0.0082    775000  2019-10-31  13051000
       8     0.0074    703856  2019-12-31  12007783
       9     0.0063    593192  2020-01-31  10594409

In [15]:
yq.major_holders

{'net': {'maxAge': 1,
  'insidersPercentHeld': 0.09066,
  'institutionsPercentHeld': 0.75892997,
  'institutionsFloatPercentHeld': 0.83459,
  'institutionsCount': 149}}

In [16]:
yq.earnings_trend

{'net': {'trend': [{'maxAge': 1,
    'period': '0q',
    'endDate': '2020-03-31',
    'growth': {},
    'earningsEstimate': {'avg': -0.06,
     'low': -0.07,
     'high': -0.05,
     'yearAgoEps': {},
     'numberOfAnalysts': 14,
     'growth': {}},
    'revenueEstimate': {'avg': 87020000,
     'low': 82390000,
     'high': 88000000,
     'numberOfAnalysts': 13,
     'yearAgoRevenue': {},
     'growth': {}},
    'epsTrend': {'current': -0.06,
     '7daysAgo': -0.06,
     '30daysAgo': -0.06,
     '60daysAgo': -0.06,
     '90daysAgo': -0.05},
    'epsRevisions': {'upLast7days': 0,
     'upLast30days': 0,
     'downLast30days': 0,
     'downLast90days': {}}},
   {'maxAge': 1,
    'period': '+1q',
    'endDate': '2020-06-30',
    'growth': {},
    'earningsEstimate': {'avg': -0.05,
     'low': -0.07,
     'high': -0.04,
     'yearAgoEps': {},
     'numberOfAnalysts': 14,
     'growth': {}},
    'revenueEstimate': {'avg': 92040000,
     'low': 83710000,
     'high': 93970000,
     'numberOfAnalysts': 13,
     'yearAgoRevenue': {},
     'growth': {}},
    'epsTrend': {'current': -0.05,
     '7daysAgo': -0.05,
     '30daysAgo': -0.05,
     '60daysAgo': -0.05,
     '90daysAgo': -0.05},
    'epsRevisions': {'upLast7days': 0,
     'upLast30days': 2,
     'downLast30days': 0,
     'downLast90days': {}}},
   {'maxAge': 1,
    'period': '0y',
    'endDate': '2020-12-31',
    'growth': 0.583,
    'earningsEstimate': {'avg': -0.2,
     'low': -0.23,
     'high': -0.19,
     'yearAgoEps': -0.48,
     'numberOfAnalysts': 14,
     'growth': 0.583},
    'revenueEstimate': {'avg': 386470000,
     'low': 352490000,
     'high': 393000000,
     'numberOfAnalysts': 14,
     'yearAgoRevenue': 287022000,
     'growth': 0.346},
    'epsTrend': {'current': -0.2,
     '7daysAgo': -0.2,
     '30daysAgo': -0.2,
     '60daysAgo': -0.2,
     '90daysAgo': -0.2},
    'epsRevisions': {'upLast7days': 0,
     'upLast30days': 0,
     'downLast30days': 0,
     'downLast90days': {}}},
   {'maxAge': 1,
    'period': '+1y',
    'endDate': '2021-12-31',
    'growth': 0.3,
    'earningsEstimate': {'avg': -0.14,
     'low': -0.19,
     'high': -0.06,
     'yearAgoEps': -0.2,
     'numberOfAnalysts': 14,
     'growth': 0.3},
    'revenueEstimate': {'avg': 507990000,
     'low': 480180000,
     'high': 526000000,
     'numberOfAnalysts': 14,
     'yearAgoRevenue': 386470000,
     'growth': 0.314},
    'epsTrend': {'current': -0.14,
     '7daysAgo': -0.14,
     '30daysAgo': -0.14,
     '60daysAgo': -0.14,
     '90daysAgo': -0.16},
    'epsRevisions': {'upLast7days': 0,
     'upLast30days': 0,
     'downLast30days': 0,
     'downLast90days': {}}},
   {'maxAge': 1,
    'period': '+5y',
    'endDate': None,
    'growth': {},
    'earningsEstimate': {'avg': {},
     'low': {},
     'high': {},
     'yearAgoEps': {},
     'numberOfAnalysts': {},
     'growth': {}},
    'revenueEstimate': {'avg': {},
     'low': {},
     'high': {},
     'numberOfAnalysts': {},
     'yearAgoRevenue': {},
     'growth': {}},
    'epsTrend': {'current': {},
     '7daysAgo': {},
     '30daysAgo': {},
     '60daysAgo': {},
     '90daysAgo': {}},
    'epsRevisions': {'upLast7days': {},
     'upLast30days': {},
     'downLast30days': {},
     'downLast90days': {}}},
   {'maxAge': 1,
    'period': '-5y',
    'endDate': None,
    'growth': {},
    'earningsEstimate': {'avg': {},
     'low': {},
     'high': {},
     'yearAgoEps': {},
     'numberOfAnalysts': {},
     'growth': {}},
    'revenueEstimate': {'avg': {},
     'low': {},
     'high': {},
     'numberOfAnalysts': {},
     'yearAgoRevenue': {},
     'growth': {}},
    'epsTrend': {'current': {},
     '7daysAgo': {},
     '30daysAgo': {},
     '60daysAgo': {},
     '90daysAgo': {}},
    'epsRevisions': {'upLast7days': {},
     'upLast30days': {},
     'downLast30days': {},
     'downLast90days': {}}}],
  'maxAge': 1}}

In [17]:
yq.balance_sheet()  # Defaults to Annual

,asOfDate,AccountsPayable,AccountsReceivable,AccumulatedDepreciation,CapitalStock,CashAndCashEquivalents,CurrentAccruedExpenses,CurrentAssets,CurrentDebt,CurrentDeferredRevenue,...,OtherIntangibleAssets,OtherNonCurrentAssets,OtherNonCurrentLiabilities,OtherShortTermInvestments,RetainedEarnings,StockholdersEquity,TotalAssets,TotalLiabilitiesNetMinorityInterest,TotalNonCurrentAssets,TotalNonCurrentLiabilitiesNetMinorityInterest
symbol,,,,,,,,,,,,,,,,,,,,,
net,2017-12-31,4725000.0,11476000.0,-27736000.0,79000.0,24444000.0,2332000.0,92024000.0,356000.0,11927000.0,...,673000.0,4175000.0,308000.0,48963000.0,-108714000.0,-59834000.0,163143000.0,222977000.0,71119000.0,195814000.0
net,2018-12-31,14285000.0,25155000.0,-39899000.0,85000.0,25055000.0,7527000.0,196737000.0,255000.0,16817000.0,...,156000.0,8254000.0,908000.0,135602000.0,-195878000.0,-113505000.0,298380000.0,411885000.0,101643000.0,350506000.0
net,2019-12-31,11463000.0,33867000.0,-67189000.0,294000.0,138976000.0,11355000.0,689872000.0,NaN,30843000.0,...,31000.0,10188000.0,2599000.0,497972000.0,-301706000.0,725828000.0,830824000.0,104996000.0,140952000.0,21113000.0

In [18]:
yq.balance_sheet(frequency="q")

,asOfDate,AccountsPayable,AccountsReceivable,AccumulatedDepreciation,CapitalStock,CashAndCashEquivalents,CurrentAccruedExpenses,CurrentAssets,CurrentDebt,CurrentDeferredRevenue,...,OtherIntangibleAssets,OtherNonCurrentAssets,OtherNonCurrentLiabilities,OtherShortTermInvestments,RetainedEarnings,StockholdersEquity,TotalAssets,TotalLiabilitiesNetMinorityInterest,TotalNonCurrentAssets,TotalNonCurrentLiabilitiesNetMinorityInterest
symbol,,,,,,,,,,,,,,,,,,,,,
net,2019-06-30,17128000.0,29926000.0,-51391000.0,251000.0,42394000.0,8688000.0,166006000.0,74000.0,26757000.0,...,94000.0,12554000.0,1959000.0,82294000.0,-247361000.0,186086000.0,286859000.0,100773000.0,120853000.0,23285000.0
net,2019-09-30,9517000.0,32205000.0,-58885000.0,294000.0,501706000.0,8858000.0,695678000.0,37000.0,29835000.0,...,62000.0,10229000.0,2150000.0,143399000.0,-273551000.0,740398000.0,839847000.0,99449000.0,144169000.0,22310000.0
net,2019-12-31,11463000.0,33867000.0,-67189000.0,294000.0,138976000.0,11355000.0,689872000.0,NaN,30843000.0,...,31000.0,10188000.0,2599000.0,497972000.0,-301706000.0,725828000.0,830824000.0,104996000.0,140952000.0,21113000.0

In [19]:
yq.balance_sheet("q")

,asOfDate,AccountsPayable,AccountsReceivable,AccumulatedDepreciation,CapitalStock,CashAndCashEquivalents,CurrentAccruedExpenses,CurrentAssets,CurrentDebt,CurrentDeferredRevenue,...,OtherIntangibleAssets,OtherNonCurrentAssets,OtherNonCurrentLiabilities,OtherShortTermInvestments,RetainedEarnings,StockholdersEquity,TotalAssets,TotalLiabilitiesNetMinorityInterest,TotalNonCurrentAssets,TotalNonCurrentLiabilitiesNetMinorityInterest
symbol,,,,,,,,,,,,,,,,,,,,,
net,2019-06-30,17128000.0,29926000.0,-51391000.0,251000.0,42394000.0,8688000.0,166006000.0,74000.0,26757000.0,...,94000.0,12554000.0,1959000.0,82294000.0,-247361000.0,186086000.0,286859000.0,100773000.0,120853000.0,23285000.0
net,2019-09-30,9517000.0,32205000.0,-58885000.0,294000.0,501706000.0,8858000.0,695678000.0,37000.0,29835000.0,...,62000.0,10229000.0,2150000.0,143399000.0,-273551000.0,740398000.0,839847000.0,99449000.0,144169000.0,22310000.0
net,2019-12-31,11463000.0,33867000.0,-67189000.0,294000.0,138976000.0,11355000.0,689872000.0,NaN,30843000.0,...,31000.0,10188000.0,2599000.0,497972000.0,-301706000.0,725828000.0,830824000.0,104996000.0,140952000.0,21113000.0

In [20]:
yq.cash_flow()

,asOfDate,BeginningCashPosition,CapitalExpenditure,CashFlowFromContinuingFinancingActivities,ChangeInAccountPayable,ChangeInCashSupplementalAsReported,ChangeInWorkingCapital,ChangesInAccountReceivables,CommonStockIssuance,DeferredIncomeTax,...,NetOtherFinancingCharges,NetOtherInvestingChanges,OperatingCashFlow,OtherNonCashItems,PurchaseOfBusiness,PurchaseOfInvestment,RepaymentOfDebt,RepurchaseOfCapitalStock,SaleOfInvestment,StockBasedCompensation
symbol,,,,,,,,,,,,,,,,,,,,,
net,2016-12-31,42475000.0,-18558000.0,418000.0,1247000.0,-28156000.0,-11752000.0,-6680000.0,NaN,-530000.0,...,NaN,8000.0,-13318000.0,1611000.0,-1376000.0,-74891000.0,-507000.0,-20000.0,79561000.0,5700000.0
net,2017-12-31,14319000.0,-22975000.0,-149000.0,-957000.0,12562000.0,-5231000.0,-2073000.0,0.0,-135000.0,...,NaN,28000.0,3167000.0,3964000.0,-250000.0,-47090000.0,-5095000.0,-16000.0,79831000.0,2755000.0
net,2018-12-31,26881000.0,-34839000.0,168621000.0,4386000.0,4545000.0,-11590000.0,-14758000.0,NaN,385000.0,...,NaN,64000.0,-43281000.0,7106000.0,0.0,-145269000.0,-356000.0,-65000.0,59249000.0,27347000.0
net,2019-12-31,31426000.0,-57279000.0,570768000.0,-1328000.0,114210000.0,-12894000.0,-11200000.0,570544000.0,370000.0,...,-5268000.0,44000.0,-38917000.0,11125000.0,0.0,-537382000.0,-255000.0,-283000.0,176976000.0,36627000.0

In [21]:
yq.income_statement()

,asOfDate,BasicAverageShares,BasicEPS,CostOfRevenue,DilutedAverageShares,DilutedEPS,Ebitda,GrossProfit,InterestExpense,NetIncome,NetIncomeCommonStockholders,NetIncomeContinuousOperations,OperatingExpense,OperatingIncome,OtherIncomeExpense,PretaxIncome,ResearchAndDevelopment,SellingGeneralAndAdministration,TaxProvision,TotalRevenue
symbol,,,,,,,,,,,,,,,,,,,,
net,2016-12-31,237322000.0,-0.073040,23962000.0,237322000.0,-0.073040,-8256000.0,60829000.0,654000.0,-17334000.0,-17334000.0,-17334000.0,77858000.0,-17029000.0,-208000.0,-17265000.0,23663000.0,54195000.0,69000.0,84791000.0
net,2017-12-31,251085000.0,-0.042806,28788000.0,251085000.0,-0.042806,3321000.0,106127000.0,862000.0,-10748000.0,-10748000.0,-10748000.0,115857000.0,-9730000.0,115000.0,-9715000.0,33650000.0,82207000.0,1033000.0,134915000.0
net,2018-12-31,237322000.0,-0.370000,43537000.0,237322000.0,-0.370000,-66190000.0,149137000.0,992000.0,-87164000.0,-87164000.0,-87164000.0,234036000.0,-84899000.0,-2091000.0,-86087000.0,54463000.0,179573000.0,1077000.0,192674000.0
net,2019-12-31,NaN,NaN,63423000.0,NaN,NaN,-74122000.0,223599000.0,1112000.0,-105828000.0,-105828000.0,-105828000.0,331545000.0,-107946000.0,-1442000.0,-104713000.0,90669000.0,240876000.0,1115000.0,287022000.0