In [60]:
import sys; print('Python %s on %s' % (sys.version, sys.platform))
sys.path.extend(['/Users/philipmassey/PycharmProjects/stock_market'])
import market_data as md
import pandas as pd
import yfinance as yf

path = '/Users/philipmassey/Downloads/Investing/Fidelity/ira.csv'
df = pd.read_csv(path)
symbols = df['symbol'].values
symbols = ['AAPL', 'ABBV', 'AMZN', 'AVGO', 'AZRE', 'BEKE', 'CSIQ',
       'DOCRF', 'DQ', 'ENPH', 'FFC', 'FLC', 'FSLR', 'GOOGL', 'LI', 'LMND',
       'MSFT', 'NVDA', 'QCOM', 'SPWR', 'TCEHY', 'TDF', 'TSM', 'VWDRY']
df = md.getRowNDaysAgo(symbols,0)
df = df[['Close']]
df

Python 3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 16:52:21)
[Clang 6.0 (clang-600.0.57)] on darwin
[*********************100%***********************]  24 of 24 completed

                 Close                                                        \
                  AAPL       ABBV         AMZN        AVGO   AZRE       BEKE
Date
2020-11-06  118.690002  92.849998  3311.370117  380.619995  29.65  75.650002

                                                       ...             \
                 CSIQ   DOCRF          DQ        ENPH  ...         LI
Date                                                   ...
2020-11-06  39.849998  2.2185  222.789993  122.529999  ...  26.459999

                                                                            \
                 LMND        MSFT       NVDA        QCOM   SPWR      TCEHY
Date
2020-11-06  61.369999  223.720001  582.47998  145.009995  20.33  79.760002


              TDF        TSM      VWDRY
Date
2020-11-06  24.77  91.410004  61.330002

[1 rows x 24 columns]

In [74]:
dfc = df.reset_index(drop=True, inplace=False)
dfc = dfc['Close'].T.reset_index().rename(columns = {'index': 'symbol',0:'price'})
dfc.head(3)

  symbol        price
0   AAPL   118.690002
1   ABBV    92.849998
2   AMZN  3311.370117

In [80]:
dfc['minussixpc'] = dfc.price - dfc.price.apply(lambda x: x*0.06)
dfc

   symbol        price   minussixpc
0    AAPL   118.690002   111.568602
1    ABBV    92.849998    87.278999
2    AMZN  3311.370117  3112.687910
3    AVGO   380.619995   357.782795
4    AZRE    29.650000    27.871000
5    BEKE    75.650002    71.111001
6    CSIQ    39.849998    37.458999
7   DOCRF     2.218500     2.085390
8      DQ   222.789993   209.422594
9    ENPH   122.529999   115.178199
10    FFC    21.580000    20.285200
11    FLC    22.139999    20.811599
12   FSLR    88.269997    82.973797
13  GOOGL  1759.729980  1654.146182
14     LI    26.459999    24.872399
15   LMND    61.369999    57.687799
16   MSFT   223.720001   210.296801
17   NVDA   582.479980   547.531182
18   QCOM   145.009995   136.309395
19   SPWR    20.330000    19.110200
20  TCEHY    79.760002    74.974402
21    TDF    24.770000    23.283800
22    TSM    91.410004    85.925403
23  VWDRY    61.330002    57.650202