### Pandas Datareader

In [1]:
from pandas_datareader import data as pdr
import matplotlib.pyplot as plt
import pandas as pd
data = pdr.get_data_yahoo("^NSEI", start="2014-01-01", end="2014-01-05") 
data

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-01-02,6358.299805,6211.299805,6301.250000,6221.149902,158100,6221.149902
2014-01-03,6221.700195,6171.250000,6194.549805,6211.149902,139000,6211.149902
2014-01-06,6224.700195,6170.250000,6220.850098,6191.450195,118300,6191.450195