In [6]:
import numpy as np
import pandas as pd
import datetime as dt
from pandas.tseries.offsets import BDay
start = dt.datetime.today() - BDay(4)
end = dt.datetime.today()

from pandas_datareader import data as web
stock_tickers = ['DG','TGT','WMT']
df = web.DataReader(stock_tickers, 'yahoo', start, end)
df

Attributes        High                                 Low              \
Symbols             DG         TGT         WMT          DG         TGT
Date
2020-04-14  178.839996  109.910004  129.789993  175.130005  105.879997
2020-04-15  177.839996  109.000000  129.880005  171.820007  105.250000
2020-04-16  183.949997  109.889999  132.919998  177.570007  106.650002
2020-04-17  182.740005  114.070000  132.970001  177.380005  108.430000

Attributes                    Open                               Close  \
Symbols            WMT          DG         TGT         WMT          DG
Date
2020-04-14  126.040001  176.899994  108.489998  127.099998  178.070007
2020-04-15  127.120003  177.229996  108.760002  129.000000  176.110001
2020-04-16  128.250000  178.169998  107.000000  129.000000  180.130005
2020-04-17  129.725006  180.250000  110.900002  131.479996  182.110001

Attributes                           Volume                      Adj Close  \
Symbols            TGT         WMT       DG      TGT       WMT          DG
Date
2020-04-14  108.379997  129.000000  3425200  5032300  11366300  178.070007
2020-04-15  106.239998  128.759995  2819300  4225600   7478400  176.110001
2020-04-16  109.300003  132.330002  2464700  5942000  10593500  180.130005
2020-04-17  113.419998  132.119995  2342839  7413445  10200884  182.110001

Attributes
Symbols            TGT         WMT
Date
2020-04-14  108.379997  129.000000
2020-04-15  106.239998  128.759995
2020-04-16  109.300003  132.330002
2020-04-17  113.419998  132.119995